<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页测试</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>员工编号</th>
        <th>应发工资</th>
        <th> 社保</th>
        <th>实发工资</th>
        <th>option</th>
    </tr>
{% for book in page %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.员工编号 }}</td>
        <td>{{ book.应发工资 }}</td>
        <td>{{ book.社保 }}</td>
        <td>{{ book.实发工资 }}</td>
        <td>
            <a href="/index/update_book/{{ book.id }}">更新</a>
            <a href="/index/delete_book/{{ book.id }}">删除</a>
        </td>
    </tr>
     {% endfor %}
 </table>

<!--判断是否有上一页，然后拼接关于page的查询字符串-->
{% if page.has_previous %}
{# 得到上一页的页码编号 #}
  <a href="/my02?page={{ page.previous_page_number }}">上一页</a>
{% else %}
上一页
{% endif %}
{% for p in paginator.page_range %}
{# 如果页面编号等于当前页码序号 #}
    {% if p == page.number %}
        {{ p }}
    {% else %}
         {# 否则跳转到页码相对应的页面 #}
        <a href="/my02?page={{ p }}">{{ p }}</a>
    {% endif %}
{% endfor %}
{% if page.has_next %}
  <a href="/my02?page={{ page.next_page_number }}">下一页</a>
{% else %}
下一页
{% endif %}
</body>
</html>