{% extends 'xadmin/base_site01.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../../static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../static/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../../static/easyui/demo/demo.css">
    <script type="text/javascript" src="../../static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function () {//这个地方,将普通的表单转为了easyui textbox
            $('#tt').draggable({disabled: false});
            $('#tt').datagrid({
                method: 'get',
                url: "../../love/val/",
                pagination: true,
                loadMsg: "aiiw正在努力加载数据，请稍后...",
                toolbar: "#tb",
                queryParams: {
                    sql: 'select t.*,d.dataset from vsql t left join dataset d on t.dataset_id=d.id',
                    subject: 'datagrid'
                },

                singleSelect: true, //只允许选中一行

                columns: [
                    [{% for key,value in thead.items %}
                        {
                            field: '{{ key }}',
                            {#如下这个地方==前后要有空格#}
                            {% if key == 'ip' %}
                                width: 120,
                            {% elif key == 'inputdate' %}
                                width: 200,
                            {% else %}
                                width: 150,
                            {% endif %}
                            title: '{{ value }}'
                        },
                    {% endfor %}

                    ]
                ],
                onBeforeEdit: function (index, row) {
                    row.editing = true;
                    updateActions(index);
                },
                rownumbers: true, //添加了行号
                title: " 数据库集信息表",

                onClickRow: function (rowIndex, rowData) {
                    //这条是可以用的$("select[name='dataset']").find("option[value='2']").attr("Selected",true);
                    $('#tt').datagrid("reload");
                    $("tr[datagrid-row-index=" + rowIndex + "]").find("td").each(function () {
                        //alert($(this).text())
                        //alert($(this).attr('field'))
                        tab = $(this).attr('field')
                        txt = $(this).text()
                        $("select[name='dataset'] option:contains('" + txt + "')").removeAttr("Selected")

                        if (tab != "dataset" && tab != "sql") {
                            $("input[name='" + tab + "']").attr("value", txt);
                            // $('#id_' + tab).text(txt);
                        } else if (tab == "sql") {
                            $("textarea[name='" + tab + "']").text(txt)
                        } else if (tab == "dataset") {
                            //$("select[name='dataset'] option:contains('" + txt + "')").get(2).selectedIndex=1;  //设置Select索引值为1的项选中
                            // $("select[name='dataset'] option:contains('" + txt + "')").attr("Selected", true);
                            $("select[name='dataset'] option:contains('" + txt + "')").attr("Selected", true);
                        }
                        //alert(tab+":"+$(this).text())
                        //alert(i)
                    })


//$('#id_database').val(rowData.database);这个是原生态的赋值,如下是使用easyui的赋值

                },
                {#这个地方是截止#}
            })


        })

        function del() {
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "text",//预期服务器返回的数据类型 如果是对象返回的是json 如果是字符串这里一定要定义text 之前我就是定义json 结果字符串的返回一直到额error中去
                url: "../../user/delsql",//url
                data: $('#myform1').serialize(),//这个是form表单中的id   jQuery的serialize()方法通过序列化表单值
                success: function (result) {
                    console.log("打印服务端返回的数据(调试用)");//打印服务端返回的数据(调试用)
                    {#console.log(result);//打印服务端返回的数据(调试用)#}
                    console.log(result);//打印服务端返回的数据(调试用)
                    ;
                    $('#tt').datagrid("reload");
                },
                error: function (s, s2, s3) {
                    alert("删除失败！");
                }
            });
            $('#tt').datagrid("reload");

        }

        function update1() {

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "text",//预期服务器返回的数据类型 如果是对象返回的是json 如果是字符串这里一定要定义text 之前我就是定义json 结果字符串的返回一直到额error中去
                /*
                dataType:
                    要求为String类型的参数，预期服务器返回的数据类型。如果不指定，JQuery将自动根据http包mime信息返回responseXML或responseText，并作为回调函数参数传递。可用的类型如下：
                    xml：返回XML文档，可用JQuery处理。
                    html：返回纯文本HTML信息；包含的script标签会在插入DOM时执行。
                    script：返回纯文本JavaScript代码。不会自动缓存结果。除非设置了cache参数。注意在远程请求时（不在同一个域下），所有post请求都将转为get请求。
                    json：返回JSON数据。
                    jsonp：JSONP格式。使用SONP形式调用函数时，例如myurl?callback=?，JQuery将自动替换后一个“?”为正确的函数名，以执行回调函数。
                    text：返回纯文本字符串。
                */
                url: "../../user/upsql",//url
                data: $('#myform1').serialize(),//这个是form表单中的id   jQuery的serialize()方法通过序列化表单值
                success: function (result, status) {
                    console.log("打印服务端返回的数据(调试用)");//打印服务端返回的数据(调试用)
                    {#console.log(result);//打印服务端返回的数据(调试用)#}
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.resultCode == 200) {//这个在这里没有用的,resultCode相当返回的结果集中的一个字体内容
                        alert("SUCCESS");
                    }
                    ;
                    $('#tt').datagrid("reload");
                },
                error: function (s, s2, s3) {

                    alert("修改失败！");
                    $('#tt').datagrid("reload");
                }
            });


        }

    </script>



    <div id="id1" class="easyui-panel" title="输入数据库信息集"
         style="width:auto;height:90px;padding:10px;background:#fafafa;"
         data-options="iconCls:'icon-save',closable:true,
    collapsible:true,minimizable:true,maximizable:true">

        <form METHOD="post" action="../sql/" id="myform1">
            {% csrf_token %}
            {{ editsql }}
            <input type="hidden" name="id" maxlength="100" id="id_id">
            <input type="submit">
            <button type="button" onclick="update1()">修改</button>
            <button type="button" onclick="del()">删除</button>
        </form>
    </div>

    <table id="tt" style="width:auto;height:500px">
    </table>



{% endblock %}

